
@{
    ViewBag.Title = "Dashboard";
}

<h1>Welcome, @ViewBag.Name</h1>
<br />
<h2>Choose Option</h2>

<br />      <input type="button" value="Add" onclick="location.href = '/Add/Index'" />
<br /><br /><input type="button" value="View" onclick="location.href = '/View/Index'" />
<br /><br /><input type="button" value="Update" onclick="location.href = '/Update/Index'" />
<br /><br /><input type="button" value="Delete" onclick="location.href = '/Delete/Index'" />
<br /><br /><input type="button" value="Logout" onclick="location.href = '/Login/Index'" />
