@model TaskLogger.Models.Task
@{
    ViewBag.Title = "View";
}

<h1>View Data</h1>

@using (Html.BeginForm())
{
    <div>
        <p>Start Date</p>
        @Html.TextBoxFor(model => model.StartDate)
    </div>
    <div>
        <p>End Date</p>
        @Html.TextBoxFor(model => model.EndDate)
    </div>
    <div>
        <br />
        <input type="submit" value="View" />
    </div>
}