@model TaskLogger.Models.Task
@{
    ViewBag.Title = "Update Task";
}

<h1>Update Task</h1>

@using (Html.BeginForm())
{
    <div>
        <p>Task ID</p>
        @Html.TextBoxFor(model => model.Taskid)
    </div>
    <div>
        <p>Date (YYYY-MM-DD)</p>
        @Html.TextBoxFor(model => model.Date)
    </div>
    <div>
        <p>Hours</p>
        @Html.TextBoxFor(model => model.Hours)
    </div>
    <div>
        <p>Status (y/Y for completion)</p>
        @Html.TextBoxFor(model => model.StringStatus)
    </div>
    <div>
        <br />
        <input type="submit" value="Update" />
    </div>

}
