<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - TaskLogger</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light " style="background-color: #e3f2fd;width: 100%;">
        <div class="container-fluid">

            <a class="navbar-brand" href="#">TaskLogger</a>
            
            <div class="row">
                <h5>@ViewBag.Name      <span><input class="btn btn-danger btn-sm " type="button" value="Logout" onclick="location.href = '/Login/Index'" /></span></h5>
                
            </div>

        </div>
    </nav>

    <br />

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <center>
                <p>&copy; @DateTime.Now.Year - TaskLogger</p>
            </center>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>