
@{
    ViewBag.Title = "Home";
}
<center>
    <h1>Home</h1>

    <input type="button" value="Signup" onclick="location.href = '/Signup/Index'" />
    <input type="button" value="Login" onclick="location.href = '/Login/Index'" />
 </center>
